<header class="mb-10 flex w-full justify-center">
  <h1 class="block text-4xl font-extrabold">
    Angular/ngrx + D3.js - test project
  </h1>
</header>
<div class="mb-10 flex w-full justify-center">
  <p class="block font-extrabold">(work in progress)</p>
</div>
<div class="flex w-full justify-center">
  <div matTooltip="Tab already active" [matTooltipDisabled]="currentUrl != '/'">
    <button [disabled]="currentUrl == '/'" routerLink="/" mat-fab extended>
      <mat-icon>home</mat-icon>
      Home
    </button>
  </div>
  <div
    matTooltip="Tab already active"
    [matTooltipDisabled]="currentUrl != '/charts'"
  >
    <button
      [disabled]="currentUrl == '/charts'"
      class="ml-10"
      routerLink="/charts"
      mat-fab
      extended
    >
      <mat-icon>show_chart</mat-icon>
      Charts
    </button>
  </div>
</div>
<div class="mt-10">
  <router-outlet></router-outlet>
</div>
